header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    background-color: var(--secondary-color);
    box-shadow: var(--shadow-elevation-high);
}


header img {
    height: 15rem;
    width: 12rem;
    object-fit: cover;
}
header #img-container p {
    position: absolute;
    bottom: 10%;
    left: 3.5%;
    text-align:center;
    font-weight: bold;
    color: var(--text-sec-color);
    text-shadow: 0 5px 5px #000;
}

header #description {
    background-color: var(--main-color);
    color: var(--text-sec-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

header #description .links {
    display: flex;
    align-self: flex-end;
    gap: .5rem;
}

header #description .fa {
    color: var(--text-sec-color);
}

@media only screen and (max-width: 1450px) {

}

@media only screen and (max-width: 1000px) {

}